@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
i {
    color: #675637;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #675637;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.toggle::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    transition: 0.2s ease-in-out;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
}
.toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
.toggle::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    transition: 0.2s ease-in-out;
    background: #fff;
    transform: translateY(10px);
}
.toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
.toggle.active{
    background: #1bd615;
    z-index: 1000;
}
.iframe{
    background: #fff;
    border-radius: .66rem;
    max-width: 100%; 
    padding: 0.66rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    padding: 100px;
    min-height: 100vh;
    background-image: url("../images/bkg_sections.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}
.cGrey {
    background-color: #eee;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar{
    position:absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBx, 
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.banner .contentBx {
    background-image: linear-gradient(to top left, rgb(201, 190, 190) , rgb(255, 255, 255));
}
h2 { 
    padding:10px 0 20px 0px;
    margin: 0 0 20px 0px;
    border-bottom: double #576D4B;
 }
 .h3_gas { 
    color: #675637;
    padding:10px 0 20px 0px;
    margin: 0 0 20px 0px;
    border-bottom: double #576D4B;
 }

.logoText {
    position:absolute;
    top: 30px;
    left: 40px;
    width: 300px;
}
.banner .contentBx h4{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
    letter-spacing: 1px;
}
.banner .contentBx h4 span{
    color: #576D4B;
    font-size: 1.2em;
    font-weight: 700;
}
.banner .contentBx h2{
    font-size: 3em;
    color: #675637;
    line-height: 1.2em;
    margin: 20px 0;
}
p, ul, li {
    vertical-align: middle;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
    text-indent: 10%;
    text-align:initial;
    letter-spacing: 2px;
    list-style-position: inside;
}
span.icon{
    font-size:1.5em;
}
p.verm {

    font-size: 1.2em;
    font-weight: 900;
    color: darkred;
}
span.yell {
    font-weight: 600;
    padding: 5px 0;
    background-color: #ff0;
    
    
}

.btn {
    background: #576D4B ;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
}
.sidebar{
    position: fixed;
    background: #675637;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active{
    right: 0;
    transition: 0.5s ease-in-out;
}
.sidebar ol{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.sidebar ol li{
    list-style: none;
    counter-increment:steps;
}
.sidebar ol li:hover{
    list-style: none;
    counter-increment:steps;
}
.sidebar ol li a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2.5px;
    line-height: 2em;
    text-transform: uppercase;
}
.sidebar ol li a:hover{
    color: #1bd615;
}
.sidebar ol li::before {
    line-height: 2em;
    font-weight: 800;
    content: counter(steps);
    margin-right: 0.5rem;
    background: #1bd615;
    color: #675637;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}
.title {
    width: 100%;
}
.title h2{
    position: relative;
    color: #576D4B;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1.2px;
}

title p {
    max-width: 700px;
    display: inline-block;
}
.title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
}
.copyright {
    margin: 0;
    color: #fff;
    background: #576D4B ;
    padding: 25px 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    text-indent: 10%;
    letter-spacing: 2px;
    box-shadow: 0 -2px 43px -1px rgb(109, 109, 109);
}
  .gas_grid {
    display: grid;
    grid-gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-auto-rows: minmax(auto 1fr);

  }
  .gas_telas {
    
    background: #fff;
    border-radius: .66rem;
    max-width: 100%; 
    padding: 0.1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* link */

.textL a:link {
    font-weight: bold;
    color: #576D4B;
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( #ffffff00 50%, #1bd615 50%);
    transition: background 300ms ease;
    background-size: 2px;
    background-size: auto 175%;
    word-wrap: break-word;
  }
  
  .textL a:hover {
    background-position-y: 100%;
  }

/* -------------- */

@media (max-width: 991px) {
 
    .banner .imgSidebar{
        display: none;
    }
    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
    }
   .toggle {
       right: 40px;
   }
   section {
       padding: 40px;
   }
   .logoText {
       width: 150px;
   }
   .toggle {
        right: 10px;
        top: 10px;
        transition: 0.5s ease-in-out;
    }
    .copyright {
        font-size: 1em;
        text-align: center;
    }
    section {
        height: fit-content;
        background-position: bottom right;
        background-size: cover;
    
    }
}




